@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 10px;
    padding: 10px;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 497px;
    border-radius: 1em;
}

img {
    display: block;
    width: 288px;
    height: 288px;
    border-radius: 2em;
    margin-top: -3px;
}

h1 {
    font-size: 20px;
    margin-top: -20px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    /* line-height: 0.6; */
}

p {
    font-size: 15px;
    margin-top: -10px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}